body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    color: #0056b3;
}
.form-group {
    margin: 20px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}


input, select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group1 label {
    margin-right: 10px;
    margin-bottom: 20px;

}

.gender-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    margin-right: 30px;
}

input[type="checkbox"] {
    width: 17px;
    height: 20px;
    margin-top: 20px;
}

.form-group1{
    margin-top: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    width: 40%;
    margin-left: 30%;
}

.close {
    top: 10px;
    margin-left: 80%;
    font-size: 50px;
    cursor: pointer;
}
